/* variáveis */

:root{
    --dark: #282734;
}

/* keyframes */
@keyframes home{
    from{
        margin-top:-100%;
    }

    to{
        margin-top: 0;
    }
}

@keyframes homeimg{
    from{
        rotate: 60deg;
    }

    to{
        rotate: 0deg;
    }
}

@keyframes float{
    from{
        margin-top: -15px
    }

    to{
        margin-top: 15px;
    }
}

/* formatação hero */
.hero{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100%;
}

/* navbar */
.navbar{
    position: absolute;
}

.dropdown ul{
    background-color: var(--dark);
}

.navbar-brand img{
    width: 3rem;
}

.img-navbar{
    max-width: 100%;
}

.bg-grey{
    background-color: var(--dark);
    position: absolute;
    z-index: 99;
}

/* home */

.home-page{
    background: linear-gradient(108.44deg, #ce853d 0.66%, #8527aa 56.74%, #3451c5 90.79%, #2743b1 96.79%);
    height: 95vh !important;
    position: relative;
}

.home-img{
    width: 100%;
    animation: imghero;
    transform: scaleX(-1);
}

.home-img img{
    width: 65%;
    animation: homeimg cubic-bezier(.68,.16,.43,.91) 1s;
}

.text-home{
    font-size: 2rem; 
}

.home-text{
    animation: home cubic-bezier(.68,.16,.43,.91) 1s;
}

/* página do robô */

.robot-page{
    background: var(--dark);
}

.robot-page h1{
    font-weight: 200;
    font-size: 3rem;
}

.robot-page p{
    padding: 3rem;
}

/* hardware */
.arma-page{
    background-color: #282734;
}

.arma-page h1{
    font-weight: 200;
    font-size: 3rem;
}

.arma-page p{
    padding: 3rem;
}

/* galeria de imagens */
.gallery-page{
    background: #282734 ;
    height: 100vh;
    width: 100%;
    padding: 3rem;
}

.gallery-page h1{
    font-weight: 200;
    font-size: 3rem;
}

.carousel-item{
    width: 80%;
}

.carousel-item img{
    width: 70%;
    margin: 0 15%;
    border-radius: 10px 10px;
}

.carousel{
    width: 10%;
}

/* página de equipe */
.team-page{
    background: #282734;
    height: 100vh;
    width: 100vh;
    margin-top: 0;
    padding: 3rem;
}

.team-page h1{
    font-weight: 200;
    font-size: 3rem;
}

/* página de contato */
.contact-page{
    background: linear-gradient(107.2deg, #EDB276 2.11%, #B858DD 49.53%, #5A78EB 100%, #5A78EB 100%);
    height: 100vh;
    width: 100vh;
    padding: 3rem;
}

.contact-page h1{
    font-weight: 200;
    font-size: 3rem;
}

.contact-img{
    width: 100%;
}

.contact-img img{
    width: 40%;
    animation: float 3s cubic-bezier(.35,.28,.46,.92) infinite;
}